<div class="container">
    <div class="footer">
        <h4>&copy; couvertown design collective. our website is <a href="https://github.com/couvertown/couvertown.com">open source</a>.</h4>
    </div>
</div>

</body>
</html>
