<!DOCTYPE html>
<!--
     C O U V E R T O W N  D O T  C O M
-->

<html>
    <head>
        <title>
            {{#if title}}
                {{title}} - couvertown design collective
            {{else}}
                couvertown design collective
            {{/if}}
        </title>
        <link rel="stylesheet" href="/public/app.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/public/favicon.ico">
    </head>
    <body>
