<!DOCTYPE html>
<!--
     C O U V E R T O W N  D O T  C O M
-->

<html>
    <head>
        <title>
            {{#if title}}
                {{title}} - couvertown design collective
            {{else}}
                couvertown design collective
            {{/if}}
        </title>
        <link rel="stylesheet" href="/public/app.css" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/brands.css" integrity="sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/public/favicon.ico">
        {{#if description}}
        <meta name="description" content="{{description}}">
        {{/if}}
    </head>
    <body>
