<!DOCTYPE html>
<!--
     C O U V E R T O W N  D O T  C O M


     From British Columbia to the world.

     Pushin' pixellated love to Metro Vancouver every damn day.
-->

<html>
    <head>
        <title>
            {{#if title}}
                {{title}} - couvertown design collective
            {{else}}
                couvertown design collective
            {{/if}}
        </title>
        <link rel="stylesheet" href="public/app.css" type="text/css">
    </head>
    <body>
