@font-face {
  font-family: 'AXIS Extra Bold';
  src: url('axis.woff2') format('woff2'),
      url('axis.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,300,300i&display=swap');
@import url("https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/regular.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/brands.css");

h1,h2,h3,h4,h5,h6 {
  font-weight: 800;
  font-family: "AXIS Extra Bold", sans-serif;
  text-transform: uppercase;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
}

.page-title {
  margin: auto;
  text-align: center;
}


@media screen and (max-width: 1500px) {
  .page-title h1 {
    font-size: 36pt;
  }
}

@media screen and (max-width: 600px) {
  .page-title h1 {
    visibility: hidden;
  }
}

div.cover {
  background: url('bg.jpg') no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 900px;
  max-height: 80vh;
  overflow: hidden;
  color: #ffffff;
}

div.cover-content {
  position: relative;
    top: 50%;
     transform: perspective(1px) translateY(-50%);
  text-align: center;
}

.cover a {
  color: #ffffff;
}

.cover h1{
  font-size: 48pt;
  letter-spacing: 0.25em;
  margin: 0px;
}

.logo {
  margin: auto;
  height: 250px;
}

p {
  display: block;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.blurb p {
  padding-top: 20px;
  font-size: 16pt;
  text-align: justify;
}

a {
    text-decoration-style: dotted;
}

a:hover{
    text-decoration-style: solid;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

.full-width {
  grid-column-start: 1;
  grid-column-end: 4;
}

.right {
  position: relative;
  float: right;
  text-align: right;
}

/* HEADER */

div.header {
  width: calc(100% - 120px);
  height: 60px;
  background-color: #000000;
  padding: 10px 60px 10px 60px;
  position: fixed;
  z-index: 900;
}

.header img {
  max-height: 100%;
  min-height: 100%;
}

.header-nav {
  float: right;
  position: relative;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
}


.header-nav li {
  display: inline;
  color: #ffffff;
  list-style: none;
  margin-left: 60px;
}

/* FOOTER  */

div.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 60px 0 60px 0;
  display: block;
  font-size: 14px;
}

.footer img {
  max-width: 100%;
  min-width: 100%;
}

.footer .container {
  max-width: 100%;
  margin-left: 60px;
  margin-right: 60px;
}

.logo-box {
  max-width: 80%;
  min-width: 80%;
}

ul.footer-nav {
  list-style: none;
  padding-left: 0px;
  line-height: 1.5em;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  text-align: right;
}
