{{>header}}
<div class="cover">
  <div class="page-title">
    <img class="logo" src="/public/logo.png" alt="couvertown logo" />
    <h1>we are couvertown</h1>
  </div>
</div>
<div class="container">
    <div class="blurb">
        <h1>from british columbia to the world.</h1>
        <p>Couvertown is a community of designers and creators who, through our work, seek to weave a common thread through the social fabric of Greater Vancouver.</p>
        <p>We believe in the dreamers, the free spirits, the young, the old, the locals, the immigrants &mdash; anyone who seeks the dream of the Pacific Northwest.</p>
        <p>We're here to capture and celebrate the special moments of daily life, promote the communal bonds that join us all together, help our neighbours in need, and share Vancouver's urban pride with ourselves and with the world.</p>

        <h1>don't be a stranger.</h1>
        <p>Say hi at <a href="mailto:hello@couvertown.com">hello@couvertown.com</a>.</p>
    </div>
</div>
{{>footer}}
