{{>header}}
<div class="container">
    <div class="page-title">
        <h1>we are couvertown design collective.</h1>
    </div>
    <div class="blurb">
        <h2>from british columbia to the world.</h2>
        <p>Couvertown is a community of designers and creators who, through our work, seek to weave a common thread through the social fabric of Greater Vancouver.</p>
        <p>We believe in the dreamers, the free spirits, the young, the old, the locals, the immigrants &mdash; anyone who seeks the dream of the Pacific Northwest.</p>
        <p>We're here to capture and celebrate the special moments of daily life, promote the communal bonds that join us all together as Canadians, help our neighbours in need, and share Vancouver's urban pride with ourselves and with the world.</p>

        <h2>boldly go where no brand has gone before.</h2>
        <p>Interested in what we do? Say hi at <a href="mailto:hello@couvertown.com">hello@couvertown.com</a>.</p>
    </div>
</div>
{{>footer}}
