<div class="container">
    <div class="footer">
      <ul class="footer-nav">
        <li><a href="https://instagram.com/couvertown"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://github.com/couvertown"><i class="fab fa-github"></i></a></li>
      </ul>
        <span class="copyright">&copy; couvertown.</span>
    </div>
</div>

</body>
</html>
