h1, h2, h3, h4, h5, h6 {
    font-family: "AXIS Extra Bold", sans-serif;
}

p {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 1.25;
    line-height: 1.1em;
}

a {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.product-listing li {
    list-style-type: none;
}
